@font-face {
  font-family: 'Roboto Condensed', sans-serif; }
p {
  margin: 0;
  margin-bottom: 10px; }

a, a:visited {
  color: #a29797;
  text-decoration: none;
  font-weight: bold;}

a:hover {
  color: #151515; }

ul {
  padding-left: 20px; }

p, ul {
  margin: 0;
  margin-bottom: 20px; }

body {
  background-color: #FDFCF7;
  font-family: 'Helvetica', sans-serif;
  color: #dbdad3;
  margin: 0;
  padding: 40px 0;
  font-size: 16px;
  font-weight: 200; }

section {
  box-sizing: border-box;
  margin: 40px auto;
  width: 700px; }

section#about #intro {
  font-size: 100px;
  color: #0024FF;
  font-weight: bold; }

.block {
  width: 500px;
  display: table-cell; }

img {
  max-width: 100%;
  height: auto; }
