body {
    color: black;
    font-size: 12px;
    margin-top: 50px;
    margin-left: 90px;
    width: 600px;
    font-family: sans-serif;
    font-weight: 200;
}

a {
    color: grey;
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin-bottom: 2px;
}

div#header {
    margin-bottom: 100px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#footer {
    color: #cdcdcd;
    font-size: 10px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    /*text-align: right;*/
}


div.info {
    color: #cdcdcd;
    font-size: 10px;
    font-style: italic;
    margin-bottom: 40px;
}

div.title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    /*text-align: center;*/
}
