doctype html
html(lang = "en")
  head
    title locovna
    link(rel="stylesheet" type="text/css" href='./styles/main.css')
    link(rel="shortcut icon" href="src/img/favicon.ico")
  body
    #container
      section.header
        h1.
          404
      section.content    
        p.
          good for you