doctype html
html(lang = "en")
  head
    title locovna
    link(rel="stylesheet" type="text/css" href='./styles/main.css')
    link(rel="shortcut icon" href="src/img/favicon.ico")
  body
    #container
      section.header
        h1.
          locovna

      section.content
        p.
          is creating great html code and markdown files
        p.
          for honor and heartful emails
      section.footer
        p.
          locovna gmail.com 
