@import variables

.fa 
  padding: 0 5px

.fa-heart
  color: #83a0ff

.terminal
  font-size: .7em
  font-family: "Roboto Mono", monospace

// blink cursor in terminal
.terminal:hover
  span
    color: $color-accent
    animation: blink-animation 1s steps(2, start) infinite

@keyframes blink-animation
  to
    visibility: hidden

#weird_symbols
  font-size: $font-size * 4
  color: $title-text-color
  font-weight: bold
  padding-bottom: .5em
  overflow: visible
