@import variables

#notatka
  background-color: #f0f7f3
  display: flex
  justify-content: space-around
  color: grey
  padding-bottom: 70px
  a
    font-weight: bold

.post_content
  padding: 50px 100px
  flex-grow: 1
  flex-basis: 0
  img
    width: 100%
  a
    margin-right: 30px
  .inactive
    pointer-events: none
    cursor: default
    color: #cdcdcd
  .tools
    font-size: 12px
  .footnote
    font-size: 10px
    color: #c4c4c4
    a, a:visited
      font-weight: 200
      color: #a5a5a1

pre
  a, a:visited
    color: #7ecdc7
  span
    color: black
    font-weight: bold
