$primary-bg-color: #d0ffdf
$primary-text-color: black
$links-color: $primary-text-color
$title-text-color: $links-color
$color-accent: #e6cff6
$sub-header: $color-accent
$h4: $primary-bg-color

$font-stack: Helvetica, sans-serif
$font-weight: 300
$font-size: .9em

$margin: 50px
$padding: 25px
$text-padding: 25px
$text-margin: .5em 