@import variables

body
  background-color: $primary-bg-color
  font-family: $font-stack
  color: $primary-text-color
  font-weight: $font-weight
  margin: 0

p
  margin: $text-margin 0

a, a:visited
  color: $links-color
  text-decoration: none
  font-weight: bold
a:hover
  color: $color-accent

li
  padding-bottom: 8px
ul
  list-style-type: none
  margin: 50px 0px
  padding: 0

h4
  color: grey

#container
  width: 60vw
  margin: $margin * 2 auto

section
  margin: $margin auto
  display: flex
  justify-content: flex-start
  flex-direction: column
  font-size: $font-size

#header
  p
    font-size: $font-size * 4
    color: $title-text-color
    font-weight: bold
    margin: $text-margin/8 0
    span
      color: $primary-text-color

#contact
  a
    margin-right: $margin/2

@import post
@import media
@import decorations
