@import variables

body
  background-color: $primary-bg-color
  font-family: $font-stack
  color: $primary-text-color
  font-weight: $font-weight
  margin: 0

p
  margin: $text-margin 0

a, a:visited
  color: $links-color
  text-decoration: none
a:hover
  color: $color-accent

li
  list-style-type: none
  padding-bottom: 10px
ul
  margin-top: 50px

#container
  width: 60vw
  margin: $margin * 2 auto

section
  margin: $margin auto
  display: flex
  justify-content: flex-start
  flex-direction: column
  font-size: $font-size

#header
  p
    font-size: $font-size * 4
    color: $title-text-color
    font-weight: bold
    margin: $text-margin/8 0
    span
      color: $primary-text-color


#contact
  a
    margin-right: $margin/2

#notatka
  width: 100vw
  background-color: #f0f7f3
  display: flex
  justify-content: space-around
  color: grey
  padding-bottom: 70px

#weather
  @extend #notatka
  background-color: #eceef7

#json
  @extend #notatka
  background-color: #eaf3f0

#weezeeroonok
  @extend #notatka
  background-color: #fbf2f2

.post_content
  padding: 50px 100px
  flex-grow: 1
  flex-basis: 0
  img
    width: 100%
  a
    margin-right: 30px
  .inactive
    pointer-events: none
    cursor: default
    color: #909090


@import media
@import decorations

